.cls-title {
  font-family: 'Pacifico', cursive;
  font-size : 1.9em;
}

.hogarBtn{
    border-radius: 3px;
    width: 100%;
    margin: 4px;
    padding: 5px;
    border:none;
}
.hogarBtn_Orange{
    background-color: #ff9000
}
.hogarBtn_Grey{
    background-color: grey
}
.hogarBtn_Red{
    background-color: #e84e40
}
.icon{
    font-size: 40px;
}

.icon-pre-sel{
    color : grey;
}

.icon-need-sel{
    color : orange;
}
.icon-male-sel{
    color : darkblue;
}

.icon-female-sel{
    color : red;
}

.md-nav-login {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084) !important;;
  background-color: #f8f8f8 !important;
  color: #101010 !important;
}
.btn-red {
  background-color: #e84e40 !important;
}
.btn-orange {
  background-color: #ff9000 !important;
}
.nav-title {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #101010 !important;
}
#Gender{
  text-align: center;
}
#Range{
  text-align: center;
}
.tableCustom{
  width: 100%;
}
.tableCustom:first-child{
  height: 244px;
  border-bottom: 2px solid #F5F5F5;
}
.tableCustom tr td{
  width: 50%;
  text-align: center;
}
#centerTd{
    border-right: 2px solid #F5F5F5;
}
.personCollection{
  height: 90px;
  border-bottom: 2px solid #F5F5F5;
}
.personCollection div{
  display:inline-block;
}
.needCollection{
  width:100%;
  display:inline-flex;
  text-align: center;
}


.success-header {
  width: 100%;
  background-color: orange;
  padding: 20px 60px 15px;
  font-size: 1.3em;
  color: white;
  font-weight: 700;
}


#floating-panel-bottom {
  position: absolute;
  top: 5px;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  position: absolute;
  top: 5px;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.needCollection .icon-need-sel{
  width: 25%;
}

.needCollection .icon-pre-sel{
  width: 25%;
}
.cuerpo{
  min-height: 300px;
}
.PaddingTopBottom{
  padding-top: 20px;
  padding-bottom: 10px;
}
.centerText{
  text-align: center;
}
.angular-google-map-container { 
  height: 560px 
}