<div layout="row" layout-align="center center" style="margin-bottom: 36px">
    <h3 class="cls-title">Uniendo Manos</h3>
</div>

<div flex layout="column">
    <md-input-container style='margin-left:15px;margin-right:15px'>
        <label>Nombre o Razón Social</label>
        <input type="text" ng-model="name" required>
    </md-input-container>
    <md-input-container style='margin-left:15px;margin-right:15px'>
        <label>Email</label>
        <input type="email" ng-model="email" required>
    </md-input-container>
    <md-input-container style='margin-left:15px;margin-right:15px'>
        <label>Contraseña</label>
        <input type="password" ng-model="pass" required>
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click='register()'>Registrarme</md-button>
    <md-button class="md-raised md-raised" ui-sref="customer_login">Inciar sesión</md-button>
</div>
